<div class="row">
    <div class="col-12">
        <!-- Column --><button (click)="goToPage('/authentication/login')">Log In para ver pedidos</button>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-3 col-md-6" *ngFor="let c of categorias$">
                <!-- Card -->
                <div class="card" (click)="getItems(c); goToPage('/Categorias/Productos')">

                    <img class="card-img-top img-responsive" src="{{c.imagen}}" alt="Card image cap" fallimg height="250" width="250">
                    <div class="card-body">
                        <h4 class="card-title"> {{c.titulo}} </h4>
                        <p class="card-text">{{c.descripcion}}</p>
                    </div>

                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
        </div>
        <!-- Row -->
    </div>
</div>